@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
body {
  background: #3C3C3C;
  -webkit-transition: background 0.1s ease 0s;
  -o-transition: background 0.1s ease 0s;
  transition: background 0.1s ease 0s;
  width: 100%;
  height: 100%; }

body._while {
  background: #cecfce; }

#canvas {
  min-height: 100%;
  min-width: 100%; }
  #canvas canvas {
    width: 100%;
    height: 100%; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?5t7cxc");
  src: url("../fonts/icomoon.eot?5t7cxc#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?5t7cxc") format("truetype"), url("../fonts/icomoon.woff?5t7cxc") format("woff"), url("../fonts/icomoon.svg?5t7cxc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-sun2:before {
  content: "\e902"; }

.icon-moon:before {
  content: "\e900"; }

.icon-sun1:before {
  content: "\e9d4"; }

.icon-sun3:before {
  content: "\e903"; }

.icon-sun4:before {
  content: "\e904"; }

.icon-sun5:before {
  content: "\e905"; }

.icon-sun:before {
  content: "\e901"; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1240px) {
  .container {
    max-width: 1064px; } }

@media (max-width: 1064px) {
  .container {
    max-width: 807px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.title-h1 {
  font-family: Montserrat;
  font-size: 1.875vw;
  font-weight: 500;
  line-height: 2.292vw;
  letter-spacing: 0.265em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: rgba(255, 255, 255, 0.7) 1px 0 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0 20px; }
  @media (max-width: 767px) {
    .title-h1 {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.265em;
      margin-bottom: 5px; } }

body._while .title-h1 {
  text-shadow: rgba(255, 255, 255, 0) 1px 0 20px;
  color: black; }

.sub-title-h1 {
  font-family: Montserrat;
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.3549vw;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0 20px; }
  @media (max-width: 767px) {
    .sub-title-h1 {
      font-size: 12px;
      line-height: 15px; } }

body._while .sub-title-h1 {
  color: black; }

.button {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 8.334vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 1.569vw;
  cursor: pointer; }
  .button span {
    font-family: Montserrat;
    font-size: 1.459vw;
    font-weight: 400;
    line-height: 1.667vw;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 0 0.529vw;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  @media (max-width: 767px) {
    .button {
      margin-top: 45px;
      max-width: 110px; }
      .button span {
        margin: 0 7px;
        font-size: 18px;
        line-height: 22px; } }

body._while .button span {
  color: #000; }

.button-img {
  position: relative;
  width: 1.094vw;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .button-img img {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .button-img .button-img__black {
    opacity: 0; }
  @media (max-width: 767px) {
    .button-img {
      width: 17px; } }

body._while .button-img .button-img__black {
  opacity: 1; }

body._while .button-img .button-img__while {
  opacity: 0; }

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100; }

.footer-switch {
  width: 2.709vw;
  height: 1.25vw;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: -webkit-linear-gradient(346.13deg, rgba(255, 255, 255, 0.2) 3.56%, rgba(255, 255, 255, 0) 90.02%);
  background: -o-linear-gradient(346.13deg, rgba(255, 255, 255, 0.2) 3.56%, rgba(255, 255, 255, 0) 90.02%);
  background: linear-gradient(103.87deg, rgba(255, 255, 255, 0.2) 3.56%, rgba(255, 255, 255, 0) 90.02%);
  border-radius: 38px;
  margin-bottom: 0.3vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .footer-switch:hover {
    border: 1px solid white; }
  .footer-switch:hover .footer-switch__icon {
    background: #fff; }
  .footer-switch:hover .footer-switch__sun,
  .footer-switch:hover .footer-switch__moon {
    color: #fff; }
  .footer-switch._active:hover {
    border: 1px solid black; }
  .footer-switch._active:hover .footer-switch__icon {
    background: black; }
  .footer-switch._active:hover .footer-switch__sun,
  .footer-switch._active:hover .footer-switch__moon {
    color: #000; }
  .footer-switch:active {
    opacity: 0.7; }
  .footer-switch._active {
    border: 1px solid rgba(0, 0, 0, 0.5); }
  .footer-switch._active .footer-switch__icon {
    left: 0.15vw;
    background: rgba(0, 0, 0, 0.5); }
    @media (max-width: 767px) {
      .footer-switch._active .footer-switch__icon {
        left: 3px; } }
  .footer-switch._active .footer-switch__sun {
    opacity: 0 !important;
    color: rgba(0, 0, 0, 0.5); }
  .footer-switch._active .footer-switch__moon {
    opacity: 1 !important;
    color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 767px) {
    .footer-switch {
      width: 52px;
      height: 24px; } }

.footer-switch__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.3vw 0.2vw;
  position: relative; }
  @media (max-width: 767px) {
    .footer-switch__wrapper {
      padding: 3px 4px; } }

.footer-switch__sun,
.footer-switch__moon {
  font-size: 0.75vw;
  color: rgba(255, 255, 255, 0.7); }
  @media (max-width: 767px) {
    .footer-switch__sun,
    .footer-switch__moon {
      font-size: 14px; } }

.footer-switch__moon {
  opacity: 0; }

.footer-switch__icon {
  position: absolute;
  left: 1.60vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50%;
  z-index: 5;
  background: #969595;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s; }
  @media (max-width: 767px) {
    .footer-switch__icon {
      width: 15px;
      height: 15px;
      left: 31px; } }

.footer-text {
  padding-bottom: 0.5vw;
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #BBBBBB;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s; }
  @media (max-width: 767px) {
    .footer-text {
      padding-bottom: 10px;
      font-size: 10px;
      padding-top: 4px; } }

body._while .footer-text {
  color: #000000; }

.blackout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10; }
  .blackout div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background: #0C0C0C;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .blackout div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    opacity: 0.4;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    background: #0C0C0C;
    -webkit-transform: translate(-15%, 45%) rotate(-15deg);
    -ms-transform: translate(-15%, 45%) rotate(-15deg);
    transform: translate(-15%, 45%) rotate(-15deg);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .blackout div:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    opacity: 0.3;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    background: #0C0C0C;
    -webkit-transform: translate(-15%, 55%) rotate(7deg);
    -ms-transform: translate(-15%, 55%) rotate(7deg);
    transform: translate(-15%, 55%) rotate(7deg);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

body._while .blackout div {
  background: #e3ded8; }

body._while .blackout div:first-child {
  background: #e3ded8; }

body._while .blackout div:last-child {
  background: #e3ded8; }

.header {
  position: fixed;
  z-index: 100;
  top: 0.53vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3.2299vw;
  width: 8.542vw; }
  @media (max-width: 767px) {
    .header {
      height: 44px;
      width: 116px;
      top: 5px; } }

.header__wraper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative; }

.header-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .header-logo img {
    width: 100%;
    pointer-events: none; }

.header-logo__while {
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.header-logo__black {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

body._while .header-logo__while {
  opacity: 0; }

body._while .header-logo__black {
  opacity: 1; }

.sprait-one {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-top: 6vw; }
